my-demo-app/src/main/mule/my-demo-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="06576a97-2356-49a4-924e-199fde153d11" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="my-demo-appFlow" doc:id="ec163699-9737-44d2-94fe-a8fd6674b909" >
		<http:listener doc:name="Listener" doc:id="9cd95e8b-aa5f-4102-80f5-30e1134e805c" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="fe6a1b97-9e3d-41a2-997e-85cea652df48" message="#[payload]"/>
	</flow>
</mule>
